<div class="container-fluid" id="indexContainer">
  <div class="row">
    <div class="col-md-3">
      <a routerLink="/chatroom" class="btn btn-info" routerLinkActive="active">Back</a>
    </div>
  <div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{selectedChatRoom}}</h3>
    </div>
    <div class="panel-body chat-window">
      <div class="col-md-12">
        <div *ngFor="let chatMessage of chatMessages">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">{{chatMessage.author}}</h3>
            </div>
            <div class="panel-body">
              {{chatMessage.message}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <form (ngSubmit)="addChatMessage()">
    <div class="form-group">
      <label for="chatroom">Your Message</label>
      <input type="text"  class="form-control" id="chatroom"
             placeholder="Message"
             required
             [(ngModel)]="model.message" name="message">
    </div>
    <button type="submit" class="btn btn-default">Send</button>
  </form>
  </div>
  </div>
</div>