
<div class="container-fluid" id="indexContainer">
  <div class="row text-center">
    <div class="col-md-2 col-md-offset-5">
      <h2>Messages:</h2>
      <ul>
        <li *ngFor="let chatMessage of chatMessages">
          {{chatMessage.author}}
          {{chatMessage.roomName}}
          {{chatMessage.message}}
        </li>
      </ul>
    </div>
  </div>
</div>

<h2>Create new blog message</h2>
<form (ngSubmit)="addChatMessage()">
  <div class="form-group">
    <label for="chatroom">Chatroom</label>
    <input type="text"  class="form-control" id="name"
           required
           [(ngModel)]="model.author" name="Roomname">
    <input type="text"  class="form-control" id="chatroom"
           required
           [(ngModel)]="model.roomName" name="Roomname">
    <input type="text"  class="form-control" id="chatroom"
           required
           [(ngModel)]="model.message" name="Roomname">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>