
<div class="container-fluid" id="">
  <div class="row text-center">
    <div class="col-md-2 col-md-offset-5">
      <h1>Create a new chatroom:</h1>
      <div id="chatroomSubmitForm">
        <div class="input-group">
          <input type="text" class="form-control" id="roomname" placeholder="Roomname">
          <span class="input-group-btn">
            <input class="btn btn-success" id="login-btn" type="button" onclick="addChatroom()" value="Join"/>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid" id="indexContainer">
  <div class="row text-center">
    <div class="col-md-2 col-md-offset-5">
      <h1>Choose an existing chatroom:</h1>

    </div>
  </div>
</div>
