<div class="container-fluid" id="indexContainer">
  <div class="row">
  <div class="col-md-3">
    <h2>Chatrooms</h2>
    <div class="list-group">
      <button type="button" class="list-group-item" *ngFor="let chatroom of chatrooms">
        <a [routerLink]="[chatroom.roomName]" routerLinkActive="active">{{chatroom.roomName}}</a>
      </button>
    </div>
  </div>
  <div class="col-md-6">
    <h2>Create new Chatroom</h2>
    <form (ngSubmit)="addChatroom()">
      <div class="input-group">
        <input type="text" class="form-control" id="chatroom"
               placeholder="Chatroom name"
               required
               [(ngModel)]="model.roomName" name="Roomname">
        <span class="input-group-btn">
      <button class="btn btn-primary" type="submit">Create</button>
    </span>
      </div>
    </form>
  </div>
  </div>
</div>
