<div class="container-fluid" id="indexContainer">
  <div class="row">
  <div class="col-md-4">
    <h2>Registered users</h2>
    <ul>
      <li *ngFor="let user of users">
        {{user.username}}
      </li>
    </ul>
  </div>
  <div class="col-md-4">
    <h1 class="h1-custom">Login</h1>
    <div id="userSubmitForm">
      <form (ngSubmit)="loginUser(model.username)" class="form-horizontal">
        <div class="form-group">
          <label for="author">Enter an unqiue username</label>
          <div class="input-group">
            <input type="text" class="form-control" id="author" required [(ngModel)]="model.username" name="username"
                   placeholder="Username">
            <span class="input-group-btn">
                <input class="btn btn-success" id="login-btn" type="submit" value="Login"/>
            </span>
          </div>
          <br/>
          <label id="invalid" class="text-center">{{feedback}}</label>
        </div>
      </form>
    </div>
  </div>
  </div>
</div>


