<h2>User List</h2>
<ul>
  <li *ngFor="let user of users">
    {{user.name}}
  </li>
</ul>



<div class="container-fluid" id="indexContainer">
  <div class="row text-center">
    <div class="col-md-2 col-md-offset-5">
      <h1>Register user</h1>
      <div id="userSubmitForm">
        <div class="input-group">
          <input type="text" class="form-control" id="username" placeholder="Username">
          <span class="input-group-btn">
            <input class="btn btn-success" id="login-btn" type="button" onclick="addUser()" value="Join"/>
          </span>
        </div>
      </div>
      <p id="seperator">Or</p>
      <h2>Login</h2>
      <div id="userSubmitForm">
        <div class="input-group">
          <input type="text" class="form-control" id="loginUser" placeholder="Username">
          <span class="input-group-btn">
            <input class="btn btn-success" id="login-btn" type="button" onclick="loginUser()" value="Login"/>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
